:root, [data-bs-theme=light] {
  --bs-primary: rgb(0,0,0);
  --bs-primary-rgb: 0,0,0;
  --bs-primary-text-emphasis: #000000;
  --bs-primary-bg-subtle: #CCCCCC;
  --bs-primary-border-subtle: #999999;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(0,0,0);
  --bs-btn-border-color: rgb(0,0,0);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 217,217,217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(0,0,0);
  --bs-btn-disabled-border-color: rgb(0,0,0);
}

.btn-outline-primary {
  --bs-btn-color: rgb(0,0,0);
  --bs-btn-border-color: rgb(0,0,0);
  --bs-btn-focus-shadow-rgb: 0,0,0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(0,0,0);
  --bs-btn-hover-border-color: rgb(0,0,0);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(0,0,0);
  --bs-btn-active-border-color: rgb(0,0,0);
  --bs-btn-disabled-color: rgb(0,0,0);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(0,0,0);
}

